nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(58, 54, 54);
    margin-bottom: 1rem;
    input {
        width: 50%;
        padding: 0.5rem;
        margin-left: 1rem;
        color: white;
        background-color: #191919;
        border: none;
        border-radius: 0.5rem;
    }
    input:focus {
        outline: none;
    }
    .icon {
        color: red;
        margin-right: 0.5rem;
    }
    label {
        font-size: 1.5rem;
        margin-right: 1rem;
        color: white;
    }
}
@media screen and (max-width : 426px) {
    nav {
        label {
            display: none;
        }
    }
}