* {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.App {
    background-color: #191919;
    font-family:'Times New Roman', Times, serif
}
.video {
    display: grid;
    grid-template-columns: 390px 390px 390px 390px;
}
@media screen and (max-width : 769px) {
    .video {
        display: grid;
        grid-template-columns: 384px 384px;
        overflow-x: hidden;
        iframe {
            padding: 0 5px;
        }
    }
}
@media screen and (max-width : 426px) {
    .video {
        display: grid;
        grid-template-columns: 425px;
        overflow-x: hidden;
        iframe {
            width: 425px;
            padding : 0;
        }
    }
}
@media screen and (max-width : 376px) {
    .video {
        display: grid;
        grid-template-columns: 375px;
        overflow-x: hidden;
        iframe {
            width: 375px;
            padding : 0;
        }
    }
}
@media screen and (max-width : 326px) {
    .video {
        display: grid;
        grid-template-columns: 325px;
        overflow-x: hidden;
        iframe {
            width: 325px;
            padding : 0;
        }
    }
}
@import './Nav';